<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body  class="d-flex justify-content-center align-items-center text-center">
<form id="expForm" name="form" th:action="@{/add-expense}" method="post">
    <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <!--  expenses list -->
    <div class="flex">
        <p class="text-left">Create new group</p>
        <label for="group-name"></label>
        <input tabindex="1" placeholder="Expense name..." autocomplete="off" type="text" name="group-name"
               id="group-name">
        <input tabindex="1" placeholder="0.00" autocomplete="off" type="number" min="1" step="any" name="group-name"
               id="money">

        <select th:field="*{currency}">
            <option th:value="'USD'" th:text="USD"></option>
            <option th:value="'EUR'" th:text="EUR"></option>
            <option th:value="'UAH'" th:text="UAH"></option>
        </select>

        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</body>
</html>