<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>


<div class="d-flex container-fluid justify-content-start">
    <nav class="col-12 navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <form id="groupsForm" name="form" th:action="@{/new-group}" method="get">

                    <button class="btn btn-primary btn-block" type="submit">Add group</button>
                </form>

            </div>
        </div>
    </nav>

    <div class="justify-content-start">

        <div class="card w-150">
            <div class="card-header">
                <nav class="navbar navbar-default">
                    <!-- for each group-->
                    <div class="container">

                        <label class="col-7">Group: Name</label>

                        <div>

                            <input type="hidden" id="expenseType" name="expenseType" value="GROUP"/>

                            <form id="expenseForm" name="form" class="row-5" style="width: 150px;"
                                  th:action="@{/add-expense(expenseType='GROUP')}" method="get">
                                <button class="btn btn-light">
                                    Create expense
                                </button>
                            </form>

                            <a class="btn btn-light row-5" style="width: 135px;" data-toggle="collapse" href="#multiCollapseExample1"
                               role="button"
                               aria-expanded="false" aria-controls="multiCollapseExample1">
                                Show Expenses
                            </a>

                            <form id="deleteForm" name="form" class="row-5" style="width: 190px;"
                                  th:action="@{/delete-group}" method="get">
                                <button class="btn btn-danger">
                                    Delete group
                                </button>
                            </form>
                        </div>

                        <!-- for each expense -->
                        <div class="collapse multi-collapse" id="multiCollapseExample1" style="width:440px;">
                            <div class="card card-body">
                                <h5 class="mb-0">

                                    <div class="list-group">
                                        <div class="p-1 mb-1 small">

                                            <label>Expense Name</label>

                                            <div class="d-flex w-120 align-items-center justify-content-between">
                                                <strong class="mb-1">
                                                    <!-- <td th:text="${expense}">1</td>--></strong>
                                                <small>300$</small>
                                            </div>

                                            <div class="p-1 col-10 mb-1 small">
                                                Vova Beridniy 20.02.2019

                                            </div>
                                            <button class="btn btn-light"
                                                    type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapseExpense"
                                                    aria-expanded="false"
                                                    aria-controls="collapseExpense">
                                                Show details
                                            </button>
                                        </div>
                                    </div>
                                </h5>
                                <div name="expense-name">
                                    <div class="collapse multi-collapse" id="collapseExpense">
                                        <div class="card card-body">
                                            <h5 class="mb-0">
                                                <div class="list-group">
                                                    <div class="p-1 col-10 mb-1 small">
                                                        Details
                                                    </div>
                                                </div>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>