<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Splitwise</title>
</head>
<body>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1>
<p>Logged user: <span sec:authentication="name">Bob</span></p>
<!--<p>Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></p>-->

<form th:action="@{/signout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>